/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.img:hover {
  transform: scale(1.2);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

section .animate {
  opacity: 0;
  transform: scale(0.5);
  transition: all ease-in-out 1.5s;
}

section.show .animate {
  opacity: 1;
  transform: scale(1);
  transition: all ease-in-out 1.5s;
}

.homesec .animate1 {
  transform: translateX(-100%);
}

.homesec.show .animate1 {
  transform: translateX(0);
}

.homesec .animate2 {
  transform: scale(0.5);
}

.homesec.show .animate2 {
  transform: scale(1);
}

.aboutsec .animate2 {
  transform: translateX(130%);
}

.aboutsec.show .animate2 {
  transform: translateX(0);
}

.aboutsec .animate1 {
  transform: scale(0.7);
}

.aboutsec.show .animate1 {
  transform: scale(1);
}

.skillsec .skill {
  transform: translateX(100%);
}

.skillsec.show .skill {
  transform: translateX(0);
  transition-delay: calc(0.2s * var(--i));
}

.projectsec .animate1 {
  transform: scale(0.7);
}

.projectsec.show .animate1 {
  transform: scale(1);
}

.contactsec .contact {
  transform: translateY(-130%);
}

.contactsec.show .contact {
  transform: translateY(0);
  transition-delay: calc(0.2s * var(--i));
}

.dropdown {
  position: relative;
}

.drop {
  display: none;
  position: absolute;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 1;
}

.drop-phone {
  left: 15px;
  top: -45px;
}

.dropdown:hover .drop-phone {
  display: block;
}

.drop-email {
  left: -95px;
  top: -45px;
}

.dropdown:hover .drop-email {
  display: block;
}

.drop-linkedin {
  left: -175px;
  top: -45px;
}

.dropdown:hover .drop-linkedin {
  display: block;
}

.dropdown:hover .linkedinHover {
  color: rgb(37, 65, 201);
}

.drop-github {
  left: -75px;
  top: -45px;
}

.dropdown:hover .drop-github {
  display: block;
}

.swiper {
  width: 1000px;
  height: 380px;
  margin: 0 auto;
  /* background-color: #dad9d9; */
  /* border: 1px solid #dad9d9;*/
}

@media screen and (max-width: 1000px) {
  .swiper {
    width: 750px;
  }
}

@media screen and (max-width: 800px) {
  .swiper {
    width: 620px;
    height: 450px;
  }
}

@media screen and (max-width: 600px) {
  .swiper {
    width: 400px;
    height: 600px;
  }
}

@media screen and (max-width: 410px) {
  .swiper {
    width: 350px;
  }
}
